:root {
    --base-color: 200, 50%;
}

header {
    background-color: hsl(var(--base-color), 90%);
    color: hsl(240, 17%, 28%);
    text-align: center;
    padding: 20px;
}

ul {
    list-style-type: none;
    float: none;
    display: flex;
    gap: 0.5rem;
    text-align: left;
    padding-left: 0;
}

li {
    padding-right: 15px;
}

a {
    flex: 1;
    border-radius: 2px;
    background-color: hsl(var(--base-color), 90%);
    color: hsl(240, 17%, 28%);
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3)
}

a:hover,
a:focus {
    background-color: hsl(240, 17%, 28%);
    color: hsl(203, 17%, 66%);
    font-size: 20px;
    transition-delay: 0.3s
  }

div:nth-child(1):hover,
div:nth-child(1):focus {
    border-radius: 2px;
    background-color: hsl(240, 17%, 28%);
    color: hsl(203, 17%, 66%);
    padding: 1rem;
    transition-delay: 0.3s;
}

div:nth-child(2):hover,
div:nth-child(2):focus {
    border-radius: 2px;
    background-color: hsl(240, 17%, 28%);
    color: hsl(203, 17%, 66%);
    padding: 1rem;
    transition-delay: 0.3s;
  }

main {
    background-color: white;
    color: hsl(240, 17%, 28%);
}

footer {
    background-color: hsl(var(--base-color), 100%);
    color: hsl(240, 17%, 28%);
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
    border-top: 1px solid hsl(240, 17%, 28%);
}