header {
    background-color: hsl(203, 17%, 66%);
    color: rgb(60, 60, 84);
    text-align: center;
    padding: 20px;
}

ul {
    list-style-type: none;
    float: none;
    display: flex;
    gap: 0.5rem;
    text-align: left;
    padding-left: 0;
}

li {
    padding-right: 15px;
}

a {
    flex: 1;
    border-radius: 2px;
    background-color: hsl(203, 17%, 66%);
    color: rgb(60, 60, 84);
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3)
}

a:hover,
a:focus {
    background-color: rgb(60, 60, 84);
    color: hsl(203, 17%, 66%);
    font-size: 20px;
    box-shadow: 0 5px 7px 0 rgb(0, 0, 0, 0.3)
  }

div:nth-child(1):hover,
div:nth-child(1):focus {
    background-color: rgb(60, 60, 84);
    color: hsl(203, 17%, 66%);
}

div:nth-child(2):hover,
div:nth-child(2):focus {
    background-color: rgb(60, 60, 84);
    color: hsl(203, 17%, 66%);
  }

main {
    background-color: white;
    color: rgb(60, 60, 84);
}

footer {
    background-color: white;
    color: rgb(60, 60, 84);
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
    border-top: 1px solid rgb(60, 60, 84);
}